Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

reorder some fields
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/routes/booking.go
Due: Backend

ci(backend): drop gocognit
  backend/.golangci.yaml
Due: Backend

reorder more fields
  backend/internal/pkg/models/booking.go
Due: Backend

make timeSlotsToWhere return an expression
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

magic numbers
  backend/internal/pkg/services/booking/booking.go
Due: Backend

the great booking refactoring
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

updated getbyuuid to use one
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

fix some Modal state bug and lint check error
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/types/address/address.ts
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/+page.ts
Due: Web Application

Form address autocomplete + Verification + Slider to search (#318)
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/types/address/address.ts
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/+page.ts
Due: Web Application

ci(lint): increase timeout
  backend/.golangci.yaml
Due: Backend

Added Booking implementation (#345)
  backend/.golangci.yaml
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000010_update_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000010_update_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/car.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

fix(android): refactor UI (#346)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/local/AuthRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ClickableText.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/NullUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ParkEasyTextField.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PreviewAll.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/RecoverErrors.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

fix: change mapAPIError to use generics
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

chore: add visuallyEnabled to ParkEasyTextField
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ParkEasyTextField.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

chore: fix light mode and dark mode image visibility
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ParkEasyTextField.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/res/drawable-night/icon.xml
  android/app/src/main/res/drawable-night/logo_stacked.xml
  android/app/src/main/res/drawable-night/wordmark.xml
  android/app/src/main/res/drawable/icon.xml
  android/app/src/main/res/drawable/icon_outlined.xml
  android/app/src/main/res/drawable/logo_stacked.xml
  android/app/src/main/res/drawable/logo_stacked_alt.xml
  android/app/src/main/res/drawable/logo_stacked_outlined.xml
  android/app/src/main/res/drawable/name.xml
  android/app/src/main/res/drawable/password.xml
  android/app/src/main/res/drawable/wordmark.xml
Due: Android Application

chore: extract TimeGrid to separate file
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/TimeGrid.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

chore: change recoverRequestErrors to return Result<Unit>
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/RecoverErrors.kt
Due: Android Application

fix: add disabledIds param to TimeGrid
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/TimeGrid.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

feat: add searching for nearby available parking spots
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Car.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/drawable/location.xml
Due: Android Application

Updated repositories to include location of parking spot for booking
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

feat: hook up POST /spot/{id}/bookings
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/+layout.svelte
  webapp/src/routes/app/booking/[id]/+page.svelte
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/booking/[id]/spot-booking/+page.ts
Due: Web Application

Added location to getmany endpoints
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

feat: add create booking screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

fix: fix money formatting, add total price and feature icons
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/res/drawable/charging_station.xml
  android/app/src/main/res/drawable/plug_in.xml
  android/app/src/main/res/drawable/shelter.xml
  android/app/src/main/res/values/strings.xml
Due: Android Application

fix(backend): /spots/{id}/bookings take id as path
  backend/internal/pkg/routes/booking.go
Due: Backend

fix(backend): /spots/{id}/bookings take id as path (#348)
  backend/internal/pkg/routes/booking.go
Due: Backend

feat: hook up transaction listing endpoint
  .vscode/settings.json
  webapp/src/lib/components/history-list-component/history-list-display.svelte
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/lib/components/transaction/spot-transaction-display.svelte
  webapp/src/lib/enum/transaction_type.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/[id]/booking-history/+page.svelte
  webapp/src/routes/app/booking/[id]/booking-history/+page.ts
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/profile/booking-history/+page.ts
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
Due: Web Application

chore: update transition animations to get rid of flashing
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
Due: Android Application

fix: wrong total price fixed
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/profile/booking-history/+page.ts
Due: Web Application

Updated booking repository to return car details
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Updates booking services to deal with new structs
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

fix: add get availabilities for spots
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
Due: Android Application

Updated booking routes
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
Due: Backend

Updated models
  backend/internal/pkg/models/booking.go
Due: Backend

Linting fix
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking.go
Due: Backend

chore: move AddSpotScreen out of ModalBottomSheet
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/TimeGrid.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Fix alignment linting errors
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

chore: properly reflect form enabled status
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Updated the get many result struct
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Updated booking API responses (#349)
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
