Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

Updates tests
  backend/internal/pkg/dbtype/tstzrange.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

android: use lazy items instead of managing index
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

android: remove RefreshButton
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

feat(backend): add listing support (#206)
  backend/.golangci.yaml
  backend/README.md
  backend/cmd/parkserver/cmd/serve.go
  backend/example.env
  backend/go.mod
  backend/go.sum
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbtype/tstzrange.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/car/car.go
  backend/internal/pkg/repositories/geocoding/geocoding.go
  backend/internal/pkg/repositories/geocoding/geocodio.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/huma.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
  backend/tools/modelgen/main.go
Due: Backend, Backend build tools

android: remove showSnackbar in CarsScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

android: call ProfileViewModel::refresh from ProfileScreen instead
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

android: add ignoreUnknownKeys and remove schema from Profile
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/HttpModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

backend/geocodio: properly handle API errors
  backend/internal/pkg/repositories/geocoding/geocodio.go
Due: Backend

Added fetch for search results for geocoding
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

Android: User Profile Screen (#196)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/HttpModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

backend/geocodio: properly handle API errors (#209)
  backend/internal/pkg/repositories/geocoding/geocodio.go
Due: Backend

Add booking table and update dbmodels
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbmodels/users.go
Due: Backend

Define booking models and repository interface
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Update booking model
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
Due: Backend

feat: Hook up Parking Spot API POST /spots GET /user/spots GET /spots/{id} GET /spots/{id}/availability
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/tsconfig.json
Due: Web Application

fix(backend): return uuid for parkingspot on request
  backend/go.mod
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

fix(backend): return uuid for parkingspot on request (#210)
  backend/go.mod
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

fix: update frontend with backend GET id bug fix
  webapp/src/lib/utils/error-handler.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
Due: Web Application

lint: fix linting
  webapp/src/routes/app/add-your-spots/+page.svelte
Due: Web Application

android: fix nits
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

Android: Car List Screen (#200)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Car.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

refactor: Refactor spot creation form and handle day light saving transition
  webapp/src/lib/components/car-component/car-display.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/components/spot-component/availability-section.svelte
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

comment: Add comment as to how daylight saving is being handled
  webapp/src/lib/utils/time-table-util.ts
Due: Web Application

Add booking repo create method
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

android: set version information from git
  .github/workflows/android.yaml
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: set version information from git (#214)
  .github/workflows/android.yaml
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: update maplibre-compose to 0.2.3
  android/gradle/libs.versions.toml
Due: Android Application

android: bump target JDK version to 11
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: bump target JDK version to 11 (#215)
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: update maplibre-compose to 0.2.3 (#219)
  android/gradle/libs.versions.toml
Due: Android Application

android: centralize cache creation on main
  .github/workflows/android-cache.yaml
  .github/workflows/android.yaml
Due: none

android: centralize cache creation on main (#220)
  .github/workflows/android-cache.yaml
  .github/workflows/android.yaml
Due: none

android: add staging build configuration
  android/app/build.gradle.kts
Due: Android Application

android: add staging build configuration (#216)
  android/app/build.gradle.kts
Due: Android Application

android: allow API server to be configured at build time
  android/app/build.gradle.kts
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: allow API server to be configured at build time (#217)
  android/app/build.gradle.kts
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: add staging deployment pipeline
  .github/workflows/android-deploy.yaml
Due: none

android: add staging deployment pipeline (#218)
  .github/workflows/android-deploy.yaml
Due: none

fix(android): add proguard rules for ktor
  android/app/proguard-rules.pro
Due: Android Application

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
