Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

Updated documentation
  backend/internal/pkg/models/parkingspot.go
Due: Backend

Linting fix
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Bug fix - returning a spot multiple times (#231)
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

polish: fix linting and type issue
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/lib/types/address/address.ts
  webapp/src/lib/utils/parking-spot-list-util.ts
  webapp/src/routes/app/+page.svelte
Due: Web Application

lint: Remove mock data since we don't need it anymore
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

lint: Remove coalesence since backend PR a fix
  webapp/src/lib/utils/parking-spot-list-util.ts
  webapp/src/routes/app/+page.svelte
Due: Web Application

Added functionality to Listing view and Map explore view (#226)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/lib/types/address/address.ts
  webapp/src/routes/app/+page.svelte
Due: Web Application

Added form autocomplete search to add a spot
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

android: add create parking spot feature
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/FieldState.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: extract generic FieldState to separate file
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/FieldState.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

android: make text fields singe line
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

android: add price per hour field
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

Android: Create Parking Spot (#232)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/FieldState.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

cd(webapp): add geoapify api key to deployment
  .github/workflows/webapp-deploy.yaml
Due: none

cd(webapp): add geoapify api key to deployment (#233)
  .github/workflows/webapp-deploy.yaml
Due: none

fix(webapp): remove layout.server.ts in profile route
  webapp/src/routes/app/profile/+layout.server.ts
Due: Web Application

fix(webapp): remove layout.server.ts in profile route (#234)
  webapp/src/routes/app/profile/+layout.server.ts
Due: Web Application

Removed commented out function (to be completed in Sprint 3)
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
Due: Web Application

Added documentation for API key to frontend
  webapp/README.md
Due: Web Application

Added example.env file
  webapp/example.env
Due: Web Application

Removed space from example.env
  webapp/example.env
Due: Web Application

Added documentation for API key to frontend (#235)
  webapp/README.md
  webapp/example.env
Due: Web Application

Updated parkingspot repository
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

feat(backend): add profiler server on configurable port (#227)
  backend/README.md
  backend/cmd/parkserver/cmd/serve.go
  backend/compose.yaml
  backend/example.env
Due: Backend

Add initial booking routes implementation
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/routes/booking.go
Due: Backend

Updated create booking
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Update README.md
  README.md
Due: none

Update README.md (#236)
  README.md
Due: none

bug fix: fix the error where one extra time slot is fetched
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
Due: Web Application

ci: disallow writing to Docker cache from non-main
  .github/workflows/backend.yaml
Due: none

lint: fix linting error
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
Due: Web Application

Added demo endpoint
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000020_create_demo_tables.down.sql
  backend/internal/pkg/dbmigration/migrations/000020_create_demo_tables.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/demo.go
  backend/internal/pkg/models/demo.go
  backend/internal/pkg/repositories/demo/demo.go
  backend/internal/pkg/repositories/demo/postgres.go
  backend/internal/pkg/repositories/demo/postgres_integration_test.go
  backend/internal/pkg/routes/demo.go
  backend/internal/pkg/services/demo/demo.go
  backend/internal/pkg/services/demo/demo_test.go
Due: Backend

feat: frontend rick roll
  backend/internal/pkg/dbmigration/migrations/000020_create_demo_tables.up.sql
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/demo/+page.svelte
  webapp/src/routes/app/demo/+page.ts
Due: Backend, Web Application

Added demo route tests
  backend/internal/pkg/routes/demo.go
  backend/internal/pkg/routes/demo_test.go
Due: Backend

polish: remove redundant console.log
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

bug fix: fix the error where one extra time slot is fetched (#246)
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
Due: Web Application

ci: disallow writing to Docker cache from non-main (#273)
  .github/workflows/backend.yaml
Due: none

Commented out the demo code
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000020_create_demo_tables.down.sql
  backend/internal/pkg/dbmigration/migrations/000020_create_demo_tables.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/demo.go
  backend/internal/pkg/models/demo.go
  backend/internal/pkg/repositories/demo/demo.go
  backend/internal/pkg/repositories/demo/postgres.go
  backend/internal/pkg/repositories/demo/postgres_integration_test.go
  backend/internal/pkg/routes/demo.go
  backend/internal/pkg/routes/demo_test.go
  backend/internal/pkg/services/demo/demo.go
  backend/internal/pkg/services/demo/demo_test.go
Due: Backend

Mess up code to make lint and check complain on the frontend
  webapp/src/routes/app/demo/+page.svelte
  webapp/src/routes/app/demo/+page.ts
Due: Web Application

Updated string
  backend/internal/pkg/repositories/demo/postgres_integration_test.go
Due: Backend

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
