Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

Added package dependencies
  backend/internal/app/parkserver/server.go
Due: Backend

Added commands required for demo
  backend/commands.txt
Due: Backend

updated routes test command
  backend/commands.txt
Due: Backend

fix: update error handling and fetch object for /auth pages
  webapp/src/lib/constants.ts
  webapp/src/routes/auth/login/+page.svelte
  webapp/src/routes/auth/password-forgot/+page.svelte
  webapp/src/routes/auth/password-forgot/page.test.ts
  webapp/src/routes/auth/password-reset/password-reset.svelte
  webapp/src/routes/auth/signup/+page.svelte
  webapp/src/routes/auth/signup/page.test.ts
Due: Web Application

Add initial postgres implementation and integration tests
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/preferencespots.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix: update error handling and fetch object for /auth pages (#297)
  webapp/src/lib/constants.ts
  webapp/src/routes/auth/login/+page.svelte
  webapp/src/routes/auth/password-forgot/+page.svelte
  webapp/src/routes/auth/password-forgot/page.test.ts
  webapp/src/routes/auth/password-reset/password-reset.svelte
  webapp/src/routes/auth/signup/+page.svelte
  webapp/src/routes/auth/signup/page.test.ts
Due: Web Application

Added form autocomplete field
  webapp/src/lib/types/spot/location-result.ts
  webapp/src/routes/app/+page.ts
Due: Web Application

Added a slider for distance radius filter
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

lint: fixed error
  webapp/src/routes/app/+page.svelte
Due: Web Application

Add preferencespot service implementation and unit tests
  backend/internal/pkg/services/preferencespot/preferencespot.go
  backend/internal/pkg/services/preferencespot/preferencespot_test.go
Due: Backend

Refactor preferencespot repository out of parkingspot package and adjust table definition to include serial primary key for cursor
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/preferencespot.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
Due: Backend

Add preferencespot route implementation and unit tests
  backend/internal/pkg/routes/preferencespot.go
  backend/internal/pkg/routes/preferencespot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Update repository and test to fix GetMany query
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/services/preferencespot/preferencespot_test.go
Due: Backend

Add GetBySpotUUID repo method and test
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/services/preferencespot/preferencespot_test.go
Due: Backend

usability: Make the navbar and sidebar responsive
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/stores/responsive.ts
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

Refactor preferencespot service and route into parkingspot
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/routes/preferencespot.go
  backend/internal/pkg/routes/preferencespot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
  backend/internal/pkg/services/preferencespot/preferencespot.go
  backend/internal/pkg/services/preferencespot/preferencespot_test.go
Due: Backend

Delete preferencespot route and service objects
  backend/internal/pkg/routes/preferencespot.go
  backend/internal/pkg/routes/preferencespot_test.go
  backend/internal/pkg/services/preferencespot/preferencespot.go
  backend/internal/pkg/services/preferencespot/preferencespot_test.go
Due: Backend

gofumpt and fix any linting issues
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Fix minor observed issues
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.down.sql
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
Due: Backend

Add foreign key constraint to UserId on preferencespot table
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/preferencespot.go
  backend/internal/pkg/dbmodels/users.go
Due: Backend

Updated create implementation
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

feat: Add booking page
  webapp/src/app.css
  webapp/src/lib/components/spot-component/spot-info.svelte
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/constants.ts
  webapp/src/routes/app/booking/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.ts
Due: Web Application

Address PR requested changes
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Added cursor support and tests
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Added tests for getmany seller
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Fixed some small styling errors
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

lint: fixed linting errors and formatting
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

usability: Make the navbar and sidebar responsive (#314)
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/stores/responsive.ts
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

Updated test and implementation
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Add parking spot not found test case to get preference route
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

backend: add preference spot implementation and tests (#317)
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/preferencespot.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Remove redundant comment
  webapp/src/routes/app/booking/[id]/+page.svelte
Due: Web Application

Updated errors
  backend/internal/pkg/repositories/booking/booking.go
Due: Backend

Added no time slots check to create
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Added integration tests for get methods and updated create tests
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

refactor: move mapApiError to common package
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

build: bump JDK target version to 21
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/kotlinc.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
Due: Android Application

build: bump JDK target version to 21
  android/.idea/misc.xml
Due: Android Application

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
