Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

codecov.yaml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

  individual_components:
    - component_id: mod_backend
      name: Backend
      paths:
        - backend/**
        - "!backend/tools/**"
    # Tools don't have to be logged in
    - component_id: mod_backend_tools
      name: Backend build tools
      paths:
        - backend/tools/**
      statuses:
        - type: project
          target: 0%
    - component_id: mod_webapp
      name: Web Application
      paths:
        - webapp/**
    - component_id: mod_android
      name: Android Application
      paths:
        - android/**

flag_management:
  default_rules:
    carryforward: true

ignore:
  # This is machine-generated, so there's no easy way to test it
  - backend/internal/pkg/dbmodels/**/*

coverage:
  status:
    project:
      default:
        informational: true

    patch:
      default:
        informational: true

chore(android): remove unnecessary contentDescriptions (#322)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
Due: Android Application

refactor(android): move Result::mapAPIError to a common package (#320)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

chore: use lists for ProfileButtons (#328)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

fix: make profile map work with Results
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

fix(android): map repo results to Results (#325)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/LoggedOutException.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Added booking creation time to booking table
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/models/booking.go
Due: Backend

Updated booking implementation to include booking time
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/services/booking/booking.go
Due: Backend

feat: add TimeGrid Composable for availability selection
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Added car to booking
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/car.go
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

style: suppress detekt warnings
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

fix: hoist TimeGrid state to the ViewModel
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

fix: add kotlinx-datetime dependency
  android/.idea/kotlinc.xml
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

feat: update TimeSlot to use DateTime
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Added initial service tests for booking
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

Add UpdateByUUID repository implementation and basic integration test
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/car.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix: add (placeholder) headers
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Add UpdateByUUID implementation and unit test to parkingspot service
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix: fixed bug where Modifier.timeGridDragHandler was retrieving stale data
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

fix: add dates to TimeGrid header
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

feat: add disabled time slots
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

fix: add clearing the time grid
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

style: format
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

fix: use FilterChips over Switches
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

chore: add default values, tweak size variables and structure
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Add service tests for UpdateByUUID
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix: hide supportingText when no errors exist
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ErrorUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Add update parking spot route implementation and initial unit test
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

Adjust update parking spot route implementation and add remaining route unit tests
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

fix: extract ParkEasyTextField
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ErrorUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/NullUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ParkEasyTextField.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Adjust parking spot service unit tests
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix: extract LoginScreen handlers
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

fix: extract ClickableText
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ClickableText.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

fix: move Scaffold down in LoginScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
Due: Android Application

Addressed comments in the PR
  webapp/src/lib/constants.ts
  webapp/src/lib/types/spot/location-result.ts
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/+page.ts
Due: Web Application

fix: properly refresh AddCarForm, extract AddCarFormHandler
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
Due: Android Application

Fixed search and verify for the address
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
Due: Web Application

address PR comment
  webapp/src/lib/components/spot-component/spot-display.svelte
Due: Web Application

feat: Integrate All parking spot preference endpoint to frontend (#331)
  webapp/src/app.css
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/components/spot-component/spot-info.svelte
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.ts
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.ts
  webapp/src/routes/app/your-spots/+page.svelte
Due: Web Application

feat(android): add availability selector to add parking spots screen (#339)
  android/.idea/kotlinc.xml
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/gradle/libs.versions.toml
Due: Android Application

Added getbookerbyUUID method and tests
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend
