Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

codecov.yaml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

  individual_components:
    - component_id: mod_backend
      name: Backend
      paths:
        - backend/**
        - "!backend/tools/**"
    # Tools don't have to be logged in
    - component_id: mod_backend_tools
      name: Backend build tools
      paths:
        - backend/tools/**
      statuses:
        - type: project
          target: 0%
    - component_id: mod_webapp
      name: Web Application
      paths:
        - webapp/**
    - component_id: mod_android
      name: Android Application
      paths:
        - android/**

flag_management:
  default_rules:
    carryforward: true

ignore:
  # This is machine-generated, so there's no easy way to test it
  - backend/internal/pkg/dbmodels/**/*

coverage:
  status:
    project:
      default:
        informational: true

    patch:
      default:
        informational: true

Added new errors to booking model
  backend/internal/pkg/models/booking.go
Due: Backend

Fix linting errors
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Added new errors and updated booking repository
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

fix: extract AddSpotFormHandler from SpotsViewModel
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Refactor UpdateByUUID
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

fix: update UserRepository, CarRepository to use Results
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

ci(backend): add CodeQL security scanning
  .github/workflows/backend.yaml
Due: none

Removes unnecessary comments
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Updated booking services and tests
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

ci(backend): add CodeQL security scanning (#342)
  .github/workflows/backend.yaml
Due: none

fix: reduce number of time slots, start at next available day
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

chore: move onAddSpotClick to AddSpotFormHandler, rename plus and minus
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

chore: rename plus and minus in drag handler
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Added remaining tests for booking services
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

Updated booking service interface
  backend/internal/pkg/routes/booking.go
Due: Backend

chore: update KDocs, comments
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/local/AuthRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
Due: Android Application

fix: add Previews to Login, Profile, List, Map and fix style
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PreviewAll.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

chore: move onClick functions into handler classes
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

Updated booking routes
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/services/booking/booking.go
Due: Backend

Added test for create route
  backend/internal/pkg/routes/booking_test.go
Due: Backend

Linting Fix
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/services/booking/booking.go
Due: Backend

Linting fixes and re-versioned the db tables
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/routes/booking.go
Due: Backend

Linting fix
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

Updated route error declaration
  backend/internal/pkg/routes/booking.go
Due: Backend

fix: add CarsScreenPreview and AddCarScreenPreview
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
Due: Android Application

fix: add SpotsScreen previews
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Added tests for get many for buyer
  backend/internal/pkg/routes/booking_test.go
Due: Backend

Updated query parameters in get many
  backend/internal/pkg/routes/booking.go
Due: Backend

Added tests for get many for seller
  backend/internal/pkg/routes/booking_test.go
Due: Backend

Added remaining route tests
  backend/internal/pkg/routes/booking_test.go
Due: Backend

Address PR suggestions
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Updated migration versions
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.up.sql
Due: Backend

Add missing route error branch and test for ErrBookedTimeUnitModified
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

fix: extract recoverRequestErrors, SpotsScreen now displays errors
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/RecoverErrors.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

Linting fixes
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend

Updated dbmigrations
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000010_update_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000010_update_timeunit_table.up.sql
Due: Backend

Linting fix
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Removed GetBookedTimes and GetBooker from repository
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

fix: fixed ClickableText to actually call onClick on click
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ClickableText.kt
Due: Android Application

Rename functions to follow conventions listed in issues
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
  backend/internal/pkg/routes/booking.go
  backend/internal/pkg/routes/booking_test.go
  backend/internal/pkg/services/booking/booking.go
  backend/internal/pkg/services/booking/booking_test.go
Due: Backend
