Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

codecov.yaml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

  individual_components:
    - component_id: mod_backend
      name: Backend
      paths:
        - backend/**
        - "!backend/tools/**"
    # Tools don't have to be logged in
    - component_id: mod_backend_tools
      name: Backend build tools
      paths:
        - backend/tools/**
      statuses:
        - type: project
          target: 0%
    - component_id: mod_webapp
      name: Web Application
      paths:
        - webapp/**
    - component_id: mod_android
      name: Android Application
      paths:
        - android/**

flag_management:
  default_rules:
    carryforward: true

ignore:
  # This is machine-generated, so there's no easy way to test it
  - backend/internal/pkg/dbmodels/**/*

coverage:
  status:
    project:
      default:
        informational: true

    patch:
      default:
        informational: true

feat(android): add support for focusing to current location (#351)
  android/.idea/misc.xml
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/LocationModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCase.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCaseImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/CreateBookingScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/gradle/libs.versions.toml
Due: Android Application

ci(load): add backend load tests
  .github/workflows/backend-load.yaml
  k6/.editorconfig
  k6/.gitignore
  k6/README.md
  k6/biome.json
  k6/package-lock.json
  k6/package.json
  k6/rsbuild.config.ts
  k6/src/backend/api/client.ts
  k6/src/backend/api/parkeasy.ts
  k6/src/backend/constants.ts
  k6/src/backend/user-creation-test.ts
  k6/tsconfig.json
  k6/types/remote.d.ts
Due: none

Added a marker for destination + centred map to Canada
  webapp/src/lib/constants.ts
  webapp/src/routes/app/+page.svelte
Due: Web Application

lint: fixed lint errors
  webapp/src/lib/components/spot-component/spot-info-editable.svelte
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

ci(load): add backend load tests (#347)
  .github/workflows/backend-load.yaml
  k6/.editorconfig
  k6/.gitignore
  k6/README.md
  k6/biome.json
  k6/package-lock.json
  k6/package.json
  k6/rsbuild.config.ts
  k6/src/backend/api/client.ts
  k6/src/backend/api/parkeasy.ts
  k6/src/backend/constants.ts
  k6/src/backend/user-creation-test.ts
  k6/tsconfig.json
  k6/types/remote.d.ts
Due: none

fix lint
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

rebase backend
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.up.sql
Due: Backend

Hookup frontend update spot (#355)
  webapp/src/lib/components/spot-component/spot-info-editable.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-performance/+page.svelte
Due: Web Application

chore(webapp): change login logo
  webapp/package-lock.json
  webapp/src/lib/images/parkeasy-logo.png
  webapp/src/routes/auth/login/+page.svelte
Due: Web Application

chore: fix missing import
  webapp/src/lib/components/form-header.svelte
Due: Web Application

chore(webapp): change login logo (#356)
  webapp/package-lock.json
  webapp/src/lib/components/form-header.svelte
  webapp/src/lib/images/parkeasy-logo.png
  webapp/src/routes/auth/login/+page.svelte
Due: Web Application

webapp: add CF Pages headers configuration
  webapp/static/_headers
Due: Web Application

webapp: add CF Pages headers configuration (#357)
  webapp/static/_headers
Due: Web Application

fix(webapp): move CSP script headers to sveltekit
  webapp/static/_headers
  webapp/svelte.config.js
Due: Web Application

fix(webapp): move CSP script headers to sveltekit (#358)
  webapp/static/_headers
  webapp/svelte.config.js
Due: Web Application

fix(webapp): relax CSP for MapLibre GL
  webapp/svelte.config.js
Due: Web Application

fix(webapp): relax CSP for MapLibre GL (#359)
  webapp/svelte.config.js
Due: Web Application

Added more load tests
  k6/public/addresses.json
  k6/rsbuild.config.ts
  k6/src/backend/api/client.ts
  k6/src/backend/api/parkeasy.ts
  k6/src/backend/car-test.ts
  k6/src/backend/manual/booking-test.ts
  k6/src/backend/manual/parkingspot-creation-test.ts
  k6/types/remote.d.ts
Due: none

Added more load tests (#364)
  k6/public/addresses.json
  k6/rsbuild.config.ts
  k6/src/backend/api/client.ts
  k6/src/backend/api/parkeasy.ts
  k6/src/backend/car-test.ts
  k6/src/backend/manual/booking-test.ts
  k6/src/backend/manual/parkingspot-creation-test.ts
  k6/types/remote.d.ts
Due: none

Added more tests
  k6/src/backend/manual/booking-test.ts
  k6/src/backend/user-creation-test.ts
Due: none

More load tests (#365)
  k6/src/backend/manual/booking-test.ts
  k6/src/backend/user-creation-test.ts
Due: none
