Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

codecov.yaml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

  individual_components:
    - component_id: mod_backend
      name: Backend
      paths:
        - backend/**
        - "!backend/tools/**"
    # Tools don't have to be logged in
    - component_id: mod_backend_tools
      name: Backend build tools
      paths:
        - backend/tools/**
      statuses:
        - type: project
          target: 0%
    - component_id: mod_webapp
      name: Web Application
      paths:
        - webapp/**
    - component_id: mod_android
      name: Android Application
      paths:
        - android/**

flag_management:
  default_rules:
    carryforward: true

ignore:
  # This is machine-generated, so there's no easy way to test it
  - backend/internal/pkg/dbmodels/**/*

coverage:
  status:
    project:
      default:
        informational: true

    patch:
      default:
        informational: true

Updated models
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/geography_columns.go
  backend/internal/pkg/dbmodels/geometry_columns.go
  backend/internal/pkg/dbmodels/listing.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/spatial_ref_sys.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/tools/modelgen/main.go
Due: Backend, Backend build tools

Renamed parkingspotid to parkingspotuuid
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Update parkingspot integration tests
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

backend/car: make car list output non-nullable
  backend/internal/pkg/routes/car.go
Due: Backend

backend/car: make car list output non-nullable (#193)
  backend/internal/pkg/routes/car.go
Due: Backend

Update parkingspot repository intrgration tests
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/services/listing/listing.go
Due: Backend

Updates parkingspot interface
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Add final test cases to parkingspot repo integration tests
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Update parkingspot service
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

Update parkingspot repository to use formEntry method
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

android: change UserRepositoryImpl::requestReset to accept all 2xx codes
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

android: wip ProfileScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

android: fix bug where parseServerSetCookieHeader couldn't parse session
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/local/AuthRepositoryImpl.kt
Due: Android Application

android: update styling on ProfileScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

Android: Fix Bug Where Session DataStore Crashed App (#195)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/local/AuthRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

android: inject showSnackbar into ProfileViewModel
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

android: add error checking and Snackbar for logout success
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

android: fix import HttpStatusCode
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

android: add wip car list screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Car.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: update minSdk to 25 and Compose versions to newer versions
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: add MapLibre dependency
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: add MapScreen map
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
Due: Android Application

android: fix double entry
  android/gradle/libs.versions.toml
Due: Android Application

move docs to wiki
  docs/AcceptanceCriteria.md
  docs/Architecture.png
  docs/ProjectProposal.md
  docs/ProposalPresentation.pdf
Due: none

move docs to wiki (#201)
  docs/AcceptanceCriteria.md
  docs/Architecture.png
  docs/ProjectProposal.md
  docs/ProposalPresentation.pdf
Due: none

android: add AddButton
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: add ButtonBar
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

android: wip edit cars modal
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: add AddCarForm state
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Car.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: extract CarCard out of CarsScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

refactor: refactor the function to move date to next week
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

refactor: handle stuff in UTC instead of local time
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

feat: availability table interaction finished
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Updated schema
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_extensions.sql
Due: Backend

Updated dbmodels and removed listing
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/services/listing/listing.go
  backend/internal/pkg/services/listing/listing_test.go
Due: Backend

Updated parking spot route services
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Updated parkingspot model
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
Due: Backend
