Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

feat: show booked time slots in a table
  webapp/src/lib/utils/error-handler.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/+layout.svelte
  webapp/src/routes/app/booking/[id]/booking-history/+page.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
Due: Web Application

Refactor implementation and tests to add dedicated Update Availability end point
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/booking/booking_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

chore: get and store available TimeUnits
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
Due: Android Application

feat: Adapt new booking endpoint to show parking spot location and car details in transaction view
  webapp/src/lib/components/transaction/spot-transaction-display.svelte
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.ts
Due: Web Application

fix: address linting error
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/booking/[id]/booking-history/+page.ts
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/profile/booking-history/+page.ts
  webapp/src/routes/app/profile/leasing-history/+page.ts
  webapp/src/routes/app/transaction/[id]/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
Due: Web Application

linting
  webapp/src/routes/app/booking/[id]/spot-booking/+page.ts
Due: Web Application

Hook up booking endpoint to webapp (#350)
  .vscode/settings.json
  webapp/src/lib/components/history-list-component/history-list-display.svelte
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/lib/components/transaction/spot-transaction-display.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/lib/enum/transaction_type.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/+layout.svelte
  webapp/src/routes/app/booking/[id]/+page.svelte
  webapp/src/routes/app/booking/[id]/booking-history/+page.svelte
  webapp/src/routes/app/booking/[id]/booking-history/+page.ts
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
  webapp/src/routes/app/booking/[id]/spot-booking/+page.ts
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/booking-history/+page.ts
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.ts
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.svelte
  webapp/src/routes/app/transaction/[id]/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
Due: Web Application

feat(android): add support for focusing to current location
  android/.idea/misc.xml
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/LocationModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCase.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCaseImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapViewModel.kt
  android/gradle/libs.versions.toml
Due: Android Application

feat: add booking spots
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Booking.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

Adjust db scripts
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.up.sql
Due: Backend

Update route and service unit tests
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Update route unit tests
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

Update service unit tests
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

chore: tidy transition animations
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/Animation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
Due: Android Application

feat: add form to create bookings to MapScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/CreateBookingScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SpotCard.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapScreen.kt
Due: Android Application

feat: add booking history screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/BookingHistory.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/bookings/BookingsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/bookings/BookingsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/bookings/BookingsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/LocalDateTimeRFC3339Serializer.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

feat: add leasing history screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/leasings/LeasingsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/leasings/LeasingsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/leasings/LeasingsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

feat: add custom theme
  webapp/src/app.css
  webapp/src/lib/components/theme.svelte
  webapp/src/routes/app/your-cars/+page.svelte
Due: Web Application

feat: apply Carbon Design Theme
  webapp/src/lib/components/theme.svelte
  webapp/src/routes/app/+layout.svelte
Due: Web Application

Updated parkingspot repository implementation
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Linting fix
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

feat(webapp): make green button blue (#352)
  webapp/src/app.css
  webapp/src/lib/components/theme.svelte
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/your-cars/+page.svelte
Due: Web Application

Linting fix
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Fix cognitive complexity lint error
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

revert all migration renames
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_booking_table.up.sql
Due: Backend

chore: extract common Composables
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/CarDetailText.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/FeaturesRow.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/SpotLocationText.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/HistoryCard.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/bookings/BookingsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/bookings/BookingsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/bookings/BookingsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/leasings/LeasingsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/leasings/LeasingsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/history/leasings/LeasingsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/leasings/LeasingsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchCard.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SpotCard.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

fix services test
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

backend: update parking spot end point (#341)
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/booking/booking_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

chore: hide create booking form on submit
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/CreateBookingScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapScreen.kt
Due: Android Application

Added frontend hookup or update parking spot
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

chore: adjust text box sizes
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

Added update parking spot update frontend hookup
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

adapt to new API
  backend/go.sum
  backend/internal/pkg/dbmodels/auth.go
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/car.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/preferencespot.go
  backend/internal/pkg/dbmodels/resettoken.go
  backend/internal/pkg/dbmodels/sessions.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/repositories/auth/postgres.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/car/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/resettoken/postgres.go
  backend/internal/pkg/repositories/user/postgres.go
  backend/tools/modelgen/main.go
Due: Backend, Backend build tools

make field non editable
  webapp/src/routes/app/booking/[id]/spot-booking/+page.svelte
Due: Web Application

Completed update parking spot hooku + added distance in listing
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/lib/constants.ts
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

Added component
  webapp/src/lib/components/spot-component/spot-info-editable.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

fix spot-performance page cut out
  webapp/src/routes/app/your-spots/[id]/spot-performance/+page.svelte
Due: Web Application

feat: add tracking user
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCaseImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/CreateBookingScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
