Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Web Application, Android Application

codecov: fix typo in flag_management (#125)
  codecov.yaml
Due: none

Update architecture diagram
  docs/Architecture.png
Due: none

Remove Models
  docs/Architecture.png
Due: none

Update architecture diagram (#126)
  docs/Architecture.png
Due: none

backend: add route for listing cars
  backend/go.mod
  backend/go.sum
  backend/internal/pkg/models/cursor.go
  backend/internal/pkg/repositories/car/car.go
  backend/internal/pkg/repositories/car/postgres.go
  backend/internal/pkg/repositories/car/postgres_integration_test.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/services/car/car.go
  backend/internal/pkg/services/car/car_test.go
Due: Backend

backend: fix Air usage with compose
  backend/README.md
  backend/compose.air.yaml
  backend/compose.yaml
Due: Backend

refactor(backend): centralize Huma configurations
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/auth.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/routes/huma.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/routes/session.go
  backend/internal/pkg/routes/session_test.go
  backend/internal/pkg/routes/testutils_test.go
  backend/internal/pkg/routes/user.go
Due: Backend

doc: Meeting minutes uploaded
  README.md
  backend/README.md
  docs/MeetingMinutes/October-4th
  docs/MeetingMinutes/September-11th
  docs/MeetingMinutes/September-17th
  docs/MeetingMinutes/September-20th
  docs/MeetingMinutes/September-22nd
  docs/MeetingMinutes/September-27nd
  docs/ProjectProposal.md
Due: Backend

docs: move doc to Github wiki
  README.md
  docs/MeetingMinutes/October-4th
  docs/MeetingMinutes/September-11th
  docs/MeetingMinutes/September-17th
  docs/MeetingMinutes/September-20th
  docs/MeetingMinutes/September-22nd
  docs/MeetingMinutes/September-27nd
Due: none

link meeting minutes and update project proposal (#130)
  README.md
  backend/README.md
  docs/ProjectProposal.md
Due: Backend

add AcceptanceTests.md
  docs/AcceptanceTests.md
Due: none

remove mention of "Calculator"
  docs/AcceptanceTests.md
Due: none

move Manual Test descriptions to AcceptanceCriteria.md
  docs/AcceptanceCriteria.md
  docs/AcceptanceTests.md
Due: none

update Firefox with "browser of choice"
  docs/AcceptanceCriteria.md
Due: none

Update docs/AcceptanceCriteria.md
  docs/AcceptanceCriteria.md
Due: none

Add Sequence Diagrams for all currently implemented endpoints
  docs/SequenceDiagrams/Auth_POST_PATCH_DELETE.jpg
  docs/SequenceDiagrams/Auth_PUT_forgot-POST_reset-POST.jpg
  docs/SequenceDiagrams/Cars_POST_GET.jpg
  docs/SequenceDiagrams/Cars_PUT_DELETE.jpg
  docs/SequenceDiagrams/Spots_POST_GET_DELETE.jpg
  docs/SequenceDiagrams/User_POST_GET.jpg
Due: none

add AcceptanceTests.md (#131)
  docs/AcceptanceCriteria.md
Due: none

Link worksheet and sequence diagram to readme
  README.md
Due: none

Link worksheet and sequence diagram to readme (#134)
  README.md
Due: none

add .svg images
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/res/drawable/logo_stacked_outlined.xml
  android/app/src/main/res/drawable/outlined_stacked.png
  webapp/src/lib/images/icon.svg
  webapp/src/lib/images/icon_outlined.svg
  webapp/src/lib/images/logo_stacked.svg
  webapp/src/lib/images/logo_stacked_outlined.svg
  webapp/src/lib/images/logo_stacked_outlined_alt.svg
  webapp/src/lib/images/wordmark.svg
  webapp/src/lib/images/wordmark_outlined.svg
Due: Web Application, Android Application

add .svg images (#135)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/res/drawable/logo_stacked_outlined.xml
  android/app/src/main/res/drawable/outlined_stacked.png
  webapp/src/lib/images/icon.svg
  webapp/src/lib/images/icon_outlined.svg
  webapp/src/lib/images/logo_stacked.svg
  webapp/src/lib/images/logo_stacked_outlined.svg
  webapp/src/lib/images/logo_stacked_outlined_alt.svg
  webapp/src/lib/images/wordmark.svg
  webapp/src/lib/images/wordmark_outlined.svg
Due: Web Application, Android Application

backend: fix Air usage with compose (#128)
  backend/README.md
  backend/compose.air.yaml
  backend/compose.yaml
Due: Backend

refactor(backend): centralize Huma configurations (#129)
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/auth.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/routes/huma.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/routes/session.go
  backend/internal/pkg/routes/session_test.go
  backend/internal/pkg/routes/testutils_test.go
  backend/internal/pkg/routes/user.go
Due: Backend

feat(backend): use Scalar for documentation view
  backend/internal/app/parkserver/scalardocs.go
  backend/internal/app/parkserver/server.go
Due: Backend

feat(backend): use Scalar for documentation view (#164)
  backend/internal/app/parkserver/scalardocs.go
  backend/internal/app/parkserver/server.go
Due: Backend

backend: swap compose for a dedicated tool for model generation
  .github/workflows/backend.yaml
  backend/Containerfile.bobgen
  backend/README.md
  backend/bobgen.yaml
  backend/compose.modelgen.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/pkg/dbmodels/auth.go
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/car.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/resettoken.go
  backend/internal/pkg/dbmodels/sessions.go
  backend/internal/pkg/dbmodels/users.go
  backend/tools/modelgen/main.go
  codecov.yaml
Due: Backend

backend: swap compose for a dedicated tool for model generation (#165)
  .github/workflows/backend.yaml
  backend/Containerfile.bobgen
  backend/README.md
  backend/bobgen.yaml
  backend/compose.modelgen.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/pkg/dbmodels/auth.go
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/car.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/resettoken.go
  backend/internal/pkg/dbmodels/sessions.go
  backend/internal/pkg/dbmodels/users.go
  backend/tools/modelgen/main.go
  codecov.yaml
Due: Backend

refactor(backend): refactor /auth routes and improve error model
  backend/internal/pkg/models/auth.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/routes/auth.go
  backend/internal/pkg/routes/auth_test.go
  backend/internal/pkg/routes/errors.go
  backend/internal/pkg/routes/errors_test.go
  backend/internal/pkg/routes/session.go
Due: Backend

refactor(backend/car): standardize error model, opid and tags
  backend/internal/pkg/models/car.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/services/car/car.go
  backend/internal/pkg/services/car/car_test.go
Due: Backend

backend: add some simple docs for openapi
  backend/internal/pkg/routes/huma.go
Due: Backend

refactor(backend/parkingspot): new error model, add openapi metadata
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

refactor(backend/user): standardize error model, add opid and tags
  backend/internal/pkg/models/auth.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/routes/user.go
  backend/internal/pkg/routes/user_test.go
Due: Backend

refactor(backend): remove deprecated NewUserFacingError
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/user.go
Due: Backend

refactor(backend): new error models, better docs and API metadata (#166)
  backend/internal/pkg/models/auth.go
  backend/internal/pkg/models/car.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/models/user.go
  backend/internal/pkg/routes/auth.go
  backend/internal/pkg/routes/auth_test.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/routes/errors.go
  backend/internal/pkg/routes/errors_test.go
  backend/internal/pkg/routes/huma.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/routes/session.go
  backend/internal/pkg/routes/user.go
  backend/internal/pkg/routes/user_test.go
  backend/internal/pkg/services/car/car.go
  backend/internal/pkg/services/car/car_test.go
Due: Backend

backend: better linting configuration
  backend/.golangci.yaml
  backend/internal/pkg/routes/auth.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/session_test.go
Due: Backend

backend: better linting configuration (#167)
  backend/.golangci.yaml
  backend/internal/pkg/routes/auth.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/session_test.go
Due: Backend

Update/add sql scripts and models needed for listing implementation
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_listing_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_listing_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/listing.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbmodels/users.go
Due: Backend

!enhancement: restructure routes directory of web app
  webapp/src/app.css
  webapp/src/lib/components/navbar.svelte
  webapp/src/routes/+page.js
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/booking/+page.svelte
  webapp/src/routes/app/profile/+layout.server.ts
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/preference-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-performance/+page.svelte
  webapp/src/routes/auth/login/+page.svelte
  webapp/src/routes/profile/listing-history/+page.svelte
Due: Web Application

polish: fix linting
  webapp/src/app.css
  webapp/src/routes/+page.js
Due: Web Application

Path conditions:
  Backend: any of: backend/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
