Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

codecov.yaml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

  individual_components:
    - component_id: mod_backend
      name: Backend
      paths:
        - backend/**
        - "!backend/tools/**"
    # Tools don't have to be logged in
    - component_id: mod_backend_tools
      name: Backend build tools
      paths:
        - backend/tools/**
      statuses:
        - type: project
          target: 0%
    - component_id: mod_webapp
      name: Web Application
      paths:
        - webapp/**
    - component_id: mod_android
      name: Android Application
      paths:
        - android/**

flag_management:
  default_rules:
    carryforward: true

ignore:
  # This is machine-generated, so there's no easy way to test it
  - backend/internal/pkg/dbmodels/**/*

coverage:
  status:
    project:
      default:
        informational: true

    patch:
      default:
        informational: true

fix: change unnecessary contentDescriptions to null
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
Due: Android Application

build(android): bump JDK version (#321)
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/kotlinc.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
Due: Android Application

fix: move common to ui/common
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Hook up Preference spot list with its corresponding API endpoint with pagination
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.ts
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.ts
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

fix: change UserRepository::getUser to return Result<Profile>
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/LoggedOutException.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

Revert "fix: change UserRepository::getUser to return Result<Profile>"
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/LoggedOutException.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

fix: missing import added
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

chore: move conditional inside of map
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

chore: make SpotRepository.createSpot return non-null
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

feat: add Snackbar to spots screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

refactor: move mapApiError to common package
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

fix: change UserRepository::getUser to return Result<Profile>
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

fix: update SpotRepository.getSpots to return a Result
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

fix: update CarRepository functions to return non-null Results
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

chore: update KDoc for repos
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
Due: Android Application

fix: use refreshTrigger for refreshing profile in ProfileScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

fix: properly errors on empty field in car form
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

chore: use lists for ProfileButtons
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

fix: add non-empty login form check
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

fix: add non-empty car form check
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

bug fix preference spot delete and get end point
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

fix: add non-empty spot form check
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

fix: properly errors on empty field in spot form
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

Remove debug code
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

backend bugfix: preference spots (#330)
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

Updated models and errors
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
Due: Backend

Updated postgres implementation with respect to new models
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Updated integration tests
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Updated create route and create servicer interface
  backend/internal/pkg/routes/booking.go
Due: Backend

Added initial version of services
  backend/internal/pkg/services/booking/booking.go
Due: Backend

Integrate parking spot preference GET/POST/DELETE endpoint to frontend
  webapp/src/app.css
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/routes/app/booking/[id]/+page.svelte
  webapp/src/routes/app/booking/[id]/+page.ts
  webapp/src/routes/app/profile/preferred-spots/+page.ts
Due: Web Application

fix(android): simple sanitization of form fields (#329)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Due: Android Application

fix(android): properly show errors on empty field in car and spot form (#327)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

fix: use refreshTrigger for refreshing profile in ProfileScreen (#326)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

fix: move common to ui/common (#324)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application
