Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

ci(android-cache): don't actually restore the cache
  .github/workflows/android-cache.yaml
Due: none

renovate: add labeling rules
  renovate.json
Due: none

renovate: use bump strategy
  renovate.json
Due: none

renovate: scope by component
  renovate.json
Due: none

fix(android): add proguard rules for ktor (#221)
  android/app/proguard-rules.pro
Due: Android Application

ci(android-cache): don't actually restore the cache (#222)
  .github/workflows/android-cache.yaml
Due: none

Added functionality to listing view and map view
  backend/example.env
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Backend, Web Application

Add GetByUUID implementation and integration tests for Create and GetByUUID for Booking repo
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Add getMany Booking Repo implementation and integration test
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

android: implement field errors for login screen
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/APIException.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/ErrorDetail.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/ErrorModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/config/detekt/detekt.yml
Due: Android Application

ci(webapp): add svelte and typescript checks to lint
  .github/workflows/webapp.yaml
Due: none

Refactor booking postgres repo integration tests
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

webapp: solve all svelte-check issues
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/utils/error-adapters.ts
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/profile/user-profile/page.test.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
Due: Web Application

Tighten condition for update to occur and update error message if update fails
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Use msg in assertSameEntry
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Add check for already booked time and corresponding test
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

android: use protomaps as tile provider
  .github/workflows/android-deploy.yaml
  android/.gitignore
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/theme/Theme.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: make snackbar triggers non-blocking
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

android: dismiss stale errors on submission
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

android: implement field errors for login screen (#223)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/APIException.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/ErrorDetail.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/ErrorModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/config/detekt/detekt.yml
Due: Android Application

android: use protomaps as tile provider (#224)
  .github/workflows/android-deploy.yaml
  android/.gitignore
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/theme/Theme.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

Updated to use alter table
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
Due: Backend

polish: address comment in PR
  webapp/src/app.css
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/components/spot-component/availability-section.svelte
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-performance/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Update booking implementation based on meeting
  backend/internal/pkg/models/booking.go
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

Hook up ParkingSpot API to frontend (#211)
  webapp/src/app.css
  webapp/src/lib/components/car-component/car-display.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/components/spot-component/availability-section.svelte
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/components/spot-component/spot-edit-modal.svelte
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/profile/+layout.server.ts
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-performance/+page.svelte
  webapp/tsconfig.json
Due: Web Application

Modified listing view and map view
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

android: add compose navigation dependency
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

android: un-share NavBar between screens
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBarViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

android: use variables and string resources
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

Added env file and refactored
  webapp/package-lock.json
  webapp/package.json
  webapp/src/routes/app/+page.svelte
Due: Web Application

Removed possible exposure
  backend/example.env
Due: Backend

android: remove shared Scaffold and SnackbarHost
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

feat(backend): add profiler server on configurable port
  backend/README.md
  backend/cmd/parkserver/cmd/serve.go
  backend/compose.yaml
  backend/example.env
Due: Backend

android: change startDestination to ListRoute instead of LoginRoute
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

webapp/paginate: enforce that routes used have paginating parameters
  webapp/src/lib/utils/paginate.ts
Due: Web Application

webapp: apply formatter
  webapp/src/routes/app/your-cars/page.test.ts
Due: Web Application

webapp: solve svelte-check issues and add type check to CI (#190)
  .github/workflows/webapp.yaml
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/spot-component/spot-edit-modal.svelte
  webapp/src/lib/utils/error-adapters.ts
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/profile/user-profile/page.test.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-spots/+page.svelte
Due: Web Application

android: pass navBar instead of navController to Screens
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

android: rename LoginScreenInner and move some variables around
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

android: suppress unused warning for navigate functions
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
Due: Android Application

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
