Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

android: remove setting content type in logout request
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

feat(android): add unit test coverage to CI using Kover
  .github/workflows/android.yaml
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

Fix pagination bug and add test for car web frontend (#182)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/enum/car-model.ts
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-cars/test_data.ts
Due: Web Application

ci(webapp): add svelte and typescript checks to lint
  .github/workflows/webapp.yaml
Due: none

Restyled user profile page, added mock data displays to history tabs
  webapp/package-lock.json
  webapp/src/app.css
  webapp/src/lib/components/footer.svelte
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/types/booking-history/booking.ts
  webapp/src/routes/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
Due: Web Application

Added layout.svelte to make navbar appear on each app route
  webapp/package-lock.json
  webapp/src/lib/components/navbar.svelte
Due: Web Application

Fixed lint errors
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/types/booking-history/booking.ts
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
Due: Web Application

draft: on-going availability table
  webapp/src/app.css
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Added navbar to all app routes
  webapp/src/routes/app/+layout.svelte
Due: Web Application

feat: NavBar to show active url
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
Due: Web Application

Made the history lists into components
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

Added component file to git
  webapp/src/lib/components/history-list-component/history-list-display.svelte
Due: Web Application

backend/modelgen: clear dbmodels before generation
  backend/tools/modelgen/main.go
Due: Backend build tools

Fixed lint
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
Due: Web Application

feat(backend): allow API server prefix to be configured (#188)
  backend/cmd/parkserver/cmd/serve.go
  backend/cmd/parkserver/cmd/serve_test.go
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/routes/huma.go
Due: Backend

Removed extra padding and usused css
  webapp/src/app.css
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

backend/modelgen: clear dbmodels before generation (#192)
  backend/tools/modelgen/main.go
Due: Backend build tools

removed unusued css
  webapp/src/routes/app/profile/booking-history/+page.svelte
Due: Web Application

fixed spacing on your-cars page
  webapp/src/app.css
  webapp/src/routes/app/your-cars/+page.svelte
Due: Web Application

Added image to the lists for booking and leasing history in profile
  webapp/src/lib/components/history-list-component/history-list-display.svelte
  webapp/src/lib/components/navbar.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

android: display name, email, buttons on ProfileScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

Removed type Booking from mocks
  webapp/src/lib/components/history-list-component/history-list-display.svelte
  webapp/src/lib/types/booking-history/booking.ts
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

Fixed lint errors
  webapp/src/app.css
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

feat(android): add unit test coverage to CI using Kover (#189)
  .github/workflows/android.yaml
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

Moved image into child componet and added approprapriate spacing
  webapp/src/lib/components/history-list-component/history-list-display.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

Fixed lint
  webapp/src/lib/components/history-list-component/history-list-display.svelte
Due: Web Application

Removed svelte ignore comment
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
Due: Web Application

mayallhs/restyle user page (#191)
  webapp/package-lock.json
  webapp/src/app.css
  webapp/src/lib/components/footer.svelte
  webapp/src/lib/components/history-list-component/history-list-display.svelte
  webapp/src/lib/components/navbar.svelte
  webapp/src/routes/+layout.svelte
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
  webapp/src/routes/app/your-cars/+page.svelte
Due: Web Application

feat: display timeslot data on the table
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Updated db models
  backend/go.mod
  backend/go.sum
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_listing_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_listing_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_extensions.sql
  backend/internal/pkg/dbmigration/migrations/000009_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/models/parkingspot.go
  backend/tools/modelgen/main.go
Due: Backend, Backend build tools

Updated parkingspot repository
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Removed listing repository
  backend/internal/pkg/repositories/listing/listing.go
  backend/internal/pkg/repositories/listing/postgres.go
  backend/internal/pkg/repositories/listing/postgres_integration_test.go
Due: Backend

save changes
  backend/internal/pkg/routes/standardbooking.go
  backend/internal/pkg/routes/standardbooking_test.go
Due: Backend

Updated getmany
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Update Parkingspot service and route
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

Updated parking spot model
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

wrote getmany query
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Align parking spot model to state
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Added timeunitAval function
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

backend(geocoding): add geocod.io geocoding repository
  backend/cmd/parkserver/cmd/serve.go
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/repositories/geocoding/geocoding.go
  backend/internal/pkg/repositories/geocoding/geocodio.go
Due: Backend

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
