Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

polish: fit linting and reformat code
  webapp/src/app.d.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/client.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/+layout.ts
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/profile/user-profile/page.test.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
Due: Web Application

remove unused add icon
  webapp/src/lib/images/add-svgrepo-com.svg
Due: Web Application

Integrate Backend API for cars (#178)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app.d.ts
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/car-component/car-display.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/images/add-button.png
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/client.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/+layout.ts
  webapp/src/routes/+page.ts
  webapp/src/routes/app/profile/+layout.server.ts
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/preference-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/profile/user-profile/page.test.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
Due: Web Application

Edited the navbar
  webapp/src/lib/components/navbar.svelte
Due: Web Application

android: move Scaffold to root of MainActivity
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBarViewModel.kt
Due: Android Application

android: add inner navigation between List, Map, and Profile
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
Due: Android Application

android: add ListScreen, MapScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapViewModel.kt
Due: Android Application

android: add SnackbarHostState and data classes
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/ObserveAsEvents.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/SnackbarController.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

android: replace Toasts with Snackbars
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Event.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBarViewModel.kt
Due: Android Application

draft: experiment with paging
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
Due: Web Application

fix: fix pagination bug where the entire data get loaded upon scroll
  webapp/src/routes/app/your-cars/+page.svelte
Due: Web Application

android: update runBlocking calls to CoroutineScope launch calls (#176)
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

android: replace CoroutineScope with viewModelScope
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

android: inject SnackbarHostState instead of SnackbarHost
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
Due: Android Application

test:car page test
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-cars/test_data.ts
Due: Web Application

polish: lint code
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-cars/test_data.ts
Due: Web Application

polish: address PR comments
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/enum/car-model.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/page.test.ts
Due: Web Application

feat(backend): allow cors to be configured in "secure" mode (#179)
  backend/cmd/parkserver/cmd/serve.go
  backend/internal/app/parkserver/server.go
Due: Backend

polish: more comment to address
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/your-cars/+page.svelte
Due: Web Application

polish: use a constant in pagination instead of hardcoding
  webapp/src/lib/utils/paginate.ts
Due: Web Application

ci(backend): build container and deploy to render.com
  .github/workflows/backend-deploy.yaml
  .github/workflows/backend.yaml
Due: none

ci(backend): build container and deploy to render.com (#180)
  .github/workflows/backend-deploy.yaml
  .github/workflows/backend.yaml
Due: none

feat: implement seller spot display + adding form
  webapp/src/app.css
  webapp/src/lib/components/spot-component/spot-add-modal.svelte
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.ts
Due: Web Application

feat: Layout for seller parking spot
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
Due: Web Application

ci(backend): also deploy if the workflow is changed
  .github/workflows/backend-deploy.yaml
Due: none

ci(backend): also deploy if the workflow is changed (#183)
  .github/workflows/backend-deploy.yaml
Due: none

ci(backend): actually push built containers
  .github/workflows/backend-deploy.yaml
Due: none

ci(backend): actually push built containers (#184)
  .github/workflows/backend-deploy.yaml
Due: none

Updated Listingcreationinput struct
  backend/internal/pkg/models/parkingspot.go
Due: Backend

Updated method signature
  backend/internal/pkg/repositories/listing/listing.go
Due: Backend

Added listing servicer to parking spot route
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

Added create in listing servicer
  backend/internal/pkg/services/listing/listing.go
  backend/internal/pkg/services/listing/listing_test.go
Due: Backend

feat: frontend display leasing history per parking spot
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
Due: Web Application

android: updated requestReset success from HTTP OK to HTTP Accepted
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

android: remove global SnackbarController, inject showSnackbar instead
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/ObserveAsEvents.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/SnackbarController.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

Android: Replace Toasts with Snackbars (#181)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Event.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBarViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

feat: add availability table format
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/components/spot-component/spot-add-modal.svelte
  webapp/src/lib/components/spot-component/spot-edit-modal.svelte
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Add booking service unit tests
  backend/internal/pkg/repositories/standardbooking/postgres.go
  backend/internal/pkg/repositories/standardbooking/standardbooking.go
  backend/internal/pkg/repositories/standardbooking/standardbooking_integration_test.go
  backend/internal/pkg/services/standardbooking/standardbooking.go
  backend/internal/pkg/services/standardbooking/standardbooking_test.go
Due: Backend

feat(backend): allow API server prefix to be configured
  backend/cmd/parkserver/cmd/serve.go
  backend/cmd/parkserver/cmd/serve_test.go
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/car.go
  backend/internal/pkg/routes/car_test.go
  backend/internal/pkg/routes/huma.go
Due: Backend

android: update request reset token to accept all 2xx responses at success
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Due: Android Application

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
