Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

android: format
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
Due: Android Application

android: rename parameters to follow on...Click naming
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Due: Android Application

android: change back button to exit app when in LoginScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
Due: Android Application

Android: Refactor Scaffold and NavGraph Hierarchy (#228)
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBarViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Due: Android Application

Updated models
  backend/internal/pkg/models/booking.go
Due: Backend

Updated repository interface
  backend/internal/pkg/repositories/booking/booking.go
Due: Backend

Updated booking repository implementation and tests
  backend/internal/pkg/repositories/booking/postgres.go
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Fixed formatting
  backend/internal/pkg/repositories/booking/postgres_integration_test.go
Due: Backend

Added basic implementation of get many for seller
  backend/internal/pkg/repositories/booking/booking.go
  backend/internal/pkg/repositories/booking/postgres.go
Due: Backend

android: add common PullToRefreshBox
  android/app/src/main/java/io/github/parkwithease/parkeasy/common/PullToRefreshBox.kt
Due: Android Application

android: update CarsScreen to use common PullToRefreshBox
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

android: add AddCarButton floating action button
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: add AddCarScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: remove unnecessary newline
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: center AddCarScreen fields
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

android: add vector logos
  android/app/src/main/res/drawable/icon.xml
  android/app/src/main/res/drawable/icon_outlined.xml
  android/app/src/main/res/drawable/logo_stacked.xml
  android/app/src/main/res/drawable/logo_stacked_outlined_alt.xml
  android/app/src/main/res/drawable/wordmark.xml
  android/app/src/main/res/drawable/wordmark_outlined.xml
Due: Android Application

android: update CarCard styling
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

android: add SpotsScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: rename parameters to follow onNavigateTo and onClick
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Due: Android Application

android: tweak SpotCard presentation
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Due: Android Application

android: rearrange form fields
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

Addressed comments on PR
  webapp/src/routes/app/+page.svelte
Due: Web Application

Fixed linting issues
  webapp/src/routes/app/+page.svelte
Due: Web Application

Added type for listing in detail modal
  webapp/src/lib/components/spot-listings/detail-modal.svelte
Due: Web Application

Added constant for initial zoom in the modal
  webapp/src/lib/components/spot-listings/detail-modal.svelte
Due: Web Application

Moved listing detail modal into the listings container
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

installed dependancies
  webapp/package-lock.json
Due: Web Application

android: edit cars
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/EditMode.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: change Spot model properties from Float to Double
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
Due: Android Application

Update android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
Due: Android Application

Android: Parking Spot List (#230)
  android/app/src/main/java/io/github/parkwithease/parkeasy/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/drawable/icon.xml
  android/app/src/main/res/drawable/icon_outlined.xml
  android/app/src/main/res/drawable/logo_stacked.xml
  android/app/src/main/res/drawable/logo_stacked_outlined_alt.xml
  android/app/src/main/res/drawable/wordmark.xml
  android/app/src/main/res/drawable/wordmark_outlined.xml
  android/app/src/main/res/values/strings.xml
Due: Android Application

android: fix merge
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
Due: Android Application

android: clear form on open add car ModalBottomSheet
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

android: clear form on open add car ModalBottomSheet
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
Due: Android Application

Android: Add Edit Cars (#229)
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/EditMode.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Due: Android Application

feat: hooked up /spots endpoint with the frontend partially
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

lint: fixed linting errors
  webapp/src/routes/app/+page.svelte
Due: Web Application

Added distinct in query to return unique spots
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
