Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

Update server.go and geocode to correctly pass geocodio repo to parking spot service
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/repositories/geocoding/geocodio.go
Due: Backend

Update parking spot route tests
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

feat: Add price field and enhance form reset mechanism
  webapp/src/app.css
  webapp/src/routes/app/add-your-spots/+page.server.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

lint: addressing linting error
  webapp/src/app.css
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Merge commit
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/spot-listings/listings-list-component.svelte
  webapp/src/routes/app/+page.svelte
Due: Web Application

Removed unused dependancies
  webapp/package-lock.json
  webapp/package.json
Due: Web Application

fix: Delaying converting to UTC
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Updated parkingspot model
  backend/internal/pkg/models/parkingspot.go
Due: Backend

Removed redundant errors
  backend/internal/pkg/models/errors.go
Due: Backend

Updated parking spot repository and tests to handle deciamls
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Added get availability route and tests
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Due: Backend

Updated parking spot service and tests
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Added the listings and map, also added detail modal
  webapp/src/lib/components/spot-listings/listings-list-component.svelte
  webapp/src/routes/app/+page.svelte
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Added the detail modal
  webapp/src/lib/components/listing-detail/detail-modal.svelte
Due: Web Application

Refactored files
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
Due: Web Application

Updated tests
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Linting fix
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

ci(backend): allow returning stdlib interfaces
  backend/.golangci.yaml
Due: Backend

backend/geocoding: fix lint issues
  backend/internal/pkg/repositories/geocoding/geocoding.go
  backend/internal/pkg/repositories/geocoding/geocodio.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

backend: go mod tidy
  backend/go.mod
Due: Backend

ci(backend): allow tests to be "complex"
  backend/.golangci.yaml
Due: Backend

backend/parkingspot: squash lint issues
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

backend/routes/parkingspot: squash lint issues
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

backend: drop booking tables
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_booking_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/booking.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

backend: back to normal postgres
  backend/compose.yaml
Due: Backend

backend/parkingspot: use exclusion constraint to block points within 6 metres radius
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

parkingspot: drop time window error
  backend/internal/pkg/models/parkingspot.go
Due: Backend

drop dead tests
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

parkingspot: latlon filter use float now
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

parkingspot: refactor attached timeunit insertion
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

backend: update docs to include geocodio API key requirement
  backend/README.md
  backend/cmd/parkserver/cmd/serve.go
  backend/example.env
Due: Backend

bump API version since /spots is backward-incompatible
  backend/internal/pkg/routes/huma.go
Due: Backend

Updated summary of get avail route
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

parkingspot: strictify input
  backend/internal/pkg/models/parkingspot.go
Due: Backend

backend: enable cross-site cookies when CORS is used
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/session.go
Due: Backend

Android: Add Map Screen (#199)
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/gradle/libs.versions.toml
Due: Android Application

backend: enable cross-site cookies when CORS is used (#208)
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/routes/session.go
Due: Backend

android: add ignoreUnknownKeys and remove schema from Profile
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/HttpModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Due: Android Application

android: remove schema from Car
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Car.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

android: use emptyList for empty lists
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
Due: Android Application

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
