Repository ParkWithEase/parkeasy: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Backend build tools, Web Application, Android Application

Updated parkingspot postgres implementation
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Update existing parkingspot service and unit tests to pass
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix: fix a bug where side nav bar disappear when browser shrink
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
Due: Web Application

refactor: refactor time table function into an util files for reusability
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

fix: Fix a bug where the removed slot is not updated correctly
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Due: Web Application

Updated database schema
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbtype/tstzrange.go
  backend/internal/pkg/repositories/timeunit/postgres.go
  backend/internal/pkg/repositories/timeunit/postgres_integration_test.go
  backend/internal/pkg/repositories/timeunit/timeunit.go
  backend/tools/modelgen/main.go
Due: Backend, Backend build tools

Updated parking spot repository implementation
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Updated parking spot routes
  backend/internal/pkg/repositories/geocoding/geocoding.go
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

Added more models
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
Due: Backend

Modified parking spot servicer
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

Updated test, but not complete yet
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

feat: Parking spot spot multi-form
  webapp/src/app.css
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/components/spot-component/spot-add-modal.svelte
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/components/spot-component/spot-edit-modal.svelte
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/profile/+layout.server.ts
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
  webapp/src/routes/app/your-spots/mock_data.ts
Due: Web Application

Android: Bump minSdk to 25 and Bump Compose versions (#198)
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Due: Android Application

feat: coalesce key before call geoencoding autocompletion
  webapp/src/lib/constants.ts
  webapp/src/routes/app/add-your-spots/+page.server.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
Due: Web Application

Updated parkingspot services
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

Updated integration tests for parkingspot repository
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Updated doc string
  backend/internal/pkg/models/parkingspot.go
Due: Backend

Added status of time slot to GetAvalByUUID
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Removed status from creation input
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Update existing parkingspot service tests to pass with new implementation
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Added time unit check to parking spot services
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

backend/dbtype: fix tstzrange Valuer and Scanner
  backend/internal/pkg/dbtype/tstzrange.go
Due: Backend

webapp: add deployment pipeline
  .github/workflows/webapp-deploy.yaml
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/constants.ts
  webapp/svelte.config.js
Due: Web Application

backend: actually configure CORS when requested
  backend/cmd/parkserver/cmd/serve.go
Due: Backend

Add TestGetAvalByUUID tests to parking spot service tests
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Added a separate check for no rows returned in result
  backend/internal/pkg/repositories/parkingspot/postgres.go
Due: Backend

Updated integration tests for parking spot repository
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Add TestGetMany unit tests to parking spot service
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Add final tests for new error branches for create in parking spot service
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

Correct bug with test invalid time window zero time check test
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

backend: actually configure CORS when requested (#203)
  backend/cmd/parkserver/cmd/serve.go
Due: Backend

webapp: add deployment pipeline (#202)
  .github/workflows/webapp-deploy.yaml
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/constants.ts
  webapp/svelte.config.js
Due: Web Application

Updated services to include better result structs
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
Due: Backend

fix(cd): use environment template substitution instead
  .github/workflows/webapp-deploy.yaml
Due: none

fix(cd): use environment template substitution instead (#204)
  .github/workflows/webapp-deploy.yaml
Due: none

Update parking spot service test based on changes in service
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Due: Backend

fix(cd): correctly set API server location
  .github/workflows/webapp-deploy.yaml
Due: none

fix(cd): correctly set API server location (#205)
  .github/workflows/webapp-deploy.yaml
Due: none

Updated integration test to include more tests for getting availability
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Due: Backend

Updated routes
  backend/internal/pkg/routes/parkingspot.go
Due: Backend

Path conditions:
  Backend: any of: backend/**, but not: backend/tools/**, backend/internal/pkg/dbmodels/**/*
  Backend build tools: any of: backend/tools/**, but not: backend/internal/pkg/dbmodels/**/*
  Web Application: any of: webapp/**, but not: backend/internal/pkg/dbmodels/**/*
  Android Application: any of: android/**, but not: backend/internal/pkg/dbmodels/**/*
